<article>
	<h1>Chips de alcachofa</h1>
	<img src="imgs/chips-alcachofa-veganos-740x493.jpg" alt="Chips de alcachofa">
	<div>
		<ul>
			<li>3 alcachofas</li>
			<li>Harina</li>
			<li>Aceite de oliva virgen</li>
			<li>Sal</li>
		</ul>
	</div>
	<div>
		<p>Lo primero que&nbsp;tenemos&nbsp;que hacer es cortar la parte exterior de la alcachofa hasta llegar a la parte más blandita y quitar también las hojas que queden por arriba. Es decir, quedarnos con los centros.</p><p>Los cortamos en láminas muy finas y vamos echando en un bol con agua muy fría y un poco de limón. Lo dejamos como un cuarto de hora y después escurrimos.</p><p>Pasamos los chips de alcachofa por harina de trigo y ponemos a freír con el aceite bien caliente y dejamos unos minutos hasta que estén bien dorados. Sacamos a un papel secante y después añadimos&nbsp;sal gorda por encima. ¡Listo!</p><p>Podéis acompañarlos con alguna salsa</a> 😉</p><p>¡Que aproveche!</p><p>&nbsp;</p>
	</div>
</article>