body {
  background-color: #9999ff;
  padding: 0 15em;
}
header {
  border-radius: 1em;
  background-color: red;
  height: 50px;
}
main {
  border-radius: 2em;
  background-color: #fff;
  height: 300px;
  margin: 0.5em 0;
}
footer {
  border-radius: 1em;
  background-color: blue;
  height: 50px;
}
