header {
  border-radius: 0.625em;
  padding: 0.625em;
  overflow: hidden;
  background-color: olivedrab;
}
h1 {
  float: left;
  margin: 0;
  font-size: 1.3em;
}
form {
  float: right;
}
input {
  border-radius: 0.625em 0em 0em 0.625em;
  padding: 0.5em;
  border: none;
  float: left;
}
button {
  border-radius: 0 0.625em 0.625em 0;
  padding: 0.5em 1em 0.5em 0.5em;
  border: none;
}
ul {
  padding: 0;
  margin-bottom: 0;
}
li {
  display: inline;
  background-color: olivedrab;
  padding: 0.5em;
  border-radius: 1em 1em 0em 0;
}
li a:link {
  text-decoration: none;
  color: white;
}
main {
  background-color: olivedrab;
  padding: 1em;
  border-radius: 0 1.875em 1.875em 1.875em;
}
li a:link:target {
  background-color: pink;
  color: white;
}
li a:visited:target {
  background-color: pink;
  color: white;
}
article:target {
  background-color: pink;
  color: white;
}
