<article>
	<h3>Ensalada de Quinoa y Edamame</h3>
	<img src="../../../imgs/Ensalada-de-quinoa-y-edamame.jpg" alt="Ensalada de Quinoa y Edamame">
	<div>
		<h4>Ingredientes</h4>
		<ul>
			<li>½ taza de mijo crudo (100 g)</li>
			<li>2 tazas de calabaza en dados (230 g)</li>
			<li>¼ taza de cebolla morada troceada (30 g)</li>
			<li>¼ taza de almendras troceadas (40 g)</li>
			<li>1 puñado de lechuga de roble troceada</li>
			<li>2 cucharadas de aceite de oliva virgen extra</li>
			<li>1 cucharada de zumo de limón</li>
			<li>Sal marina y pimienta negra al gusto</li>
		</ul>
	</div>
	<div>
		<h4>Preparación</h4>
		<p>Precalienta el horno a 200ºC ó 390ºF.</p>
		<p>Pon la calabaza sobre una bandeja para horno y añade una cucharada de aceite, sal y pimienta al gusto. Hornea durante unos 30 minutos o hasta que la calabaza esté tierna y dorada. El tiempo de cocción puede variar en función de tu horno y del tipo de calabaza que uses.</p>
		<p>Puedes comer el mijo y la calabaza calientes, templados o fríos, como quieras.</p>
		<p>En un bol echa el mijo, la calabaza y el resto de ingredientes (la cebolla, las almendras, la lechuga, 1 cucharada de aceite, el zumo de limón y sal y pimienta al gusto). Remueve y ya está lista para servir.</p>
	</div>
</article>