<article>
	<h1>Noodles veganos</h1>
	<img src="imgs/noodles_veganos.jpg" alt="Noodles veganos">
	<div>
		<ul>
			<li>Verduras al gusto, en mi caso: pimientos (verde, rojo y amarillo), calabacín y zanahoria.</li>
			<li>Noodles veganos (revisad bien los ingredientes, porque muchos llevan huevo)</li>
			<li>Caldo de verduras</li>
			<li>Salsa de soja</li>
			<li>Sal y aceite</li>
		</ul>
	</div>
	<div>
		<p>El primer paso es limpiar bien las verduras y cortarlas en tiras (aunque podéis hacerlo de otra forma). En una olla antiadherente ponemos a calentar el aceite y añadimos las verduras salvo el calabacín. Dejamos que se hagan a fuego suave, cuando empiecen a coger color añadimos el calabacín y poco después añadimos el caldo de verduras que previamente habremos calentado. No hace falta echar demasiado, que cubra holgadamente las verduras. Después ponemos salsa de soja al gusto, removemos y cuando veamos que está hirviendo bien el caldo, añadimos los noodles. Dejamos hacerse unos 5 minutos (aunque depende del fabricante, mirad bien las instrucciones de los fideos). Retiramos del fuego, a reposar unos minutos ¡y listo!</p><p>¡Que aproveche!</p>
	</div>
</article>