body {
  background-color: #eeeeee;
}
.bg-verde {
  background-color: #88A825;
}
.bg-morado {
  background-color: #35203B;
}
.bg-rosa {
  background-color: #911146;
}
.bg-naranja {
  background-color: #CF4A30;
}
.bg-amarillo {
  background-color: #ED8C2B;
}
.bg-gris {
  background-color: #cfcfcf;
}
.c-verde {
  color: #88A825 !important;
}
.c-morado {
  color: #35203B !important;
}
.c-rosa {
  color: #911146 !important;
}
.c-naranja {
  color: #CF4A30 !important;
}
.c-amarillo {
  color: #ED8C2B !important;
}
.c-gris {
  color: #cfcfcf !important;
}
