body {
	    max-width: 1024px;
	    margin: 0 auto;
	    font-size: 4em;
}

article {
	width: 70%;
    float: left;
    padding: 5%;
    background-color: blue;
}

aside {
	width: 18%;
	padding: 1%;
    float: right;
    background-color: red;
}

img {
	max-width: 100%;
	width: 100%;
}