<header>
	<h1><a href="">Titulo</a></h1>
	<nav>
		<h2>Titulo Del menu</h2>
		<ul>
			<li>
				<a href="/primeros">
					Primeros Platos
				</a>
			</li>
			<li>
				<a href="/segundos">
					Segundos Platos
				</a>
			</li>
			<li>
				<a href="/postres">
					Postres
				</a>
			</li>
			<li>
				<a href="/contacto">
					Formulario de Contacto
				</a>
			</li>
			<li>
				<a href="/pautas">
					Pautas Basicas
				</a>
			</li>
		</ul>	
	</nav>
	<ul>
		<!--migas de pan -->
		<li>Inicio/</li>
		<li>Seccion</li>
	</ul>
</header>