<header>
	<h1><a href="">Titulo</a></h1>
	<nav class="row">
		<h2>Titulo Del menu</h2>
		<ul>
			<li id="btn_primeros" class="row botones">
				<a href="/primeros">
					Primeros
				</a>
			</li>
			<li id="btn_segundos" class="row botones">
				<a href="/segundos">
					Segundos
				</a>
			</li>
			<li id="btn_postres" class="row botones">
				<a href="/postres">
					Postres
				</a>
			</li>
			<li id="btn_contacto" class="row botones">
				<a href="/contacto">
					Contacto
				</a>
			</li>
			<li id="btn_pautas" class="row botones">
				<a href="/pautas">
					Pautas Basicas
				</a>
			</li>
		</ul>	
	</nav>
	<ul>
		<!--migas de pan -->
		<li>Inicio/</li>
		<li>Seccion</li>
	</ul>
</header>