ul {
	list-style: none;
}

li {
	width: 1.5em;
	height: 1.5em; 
	background-color: blue; 
	transition: 1s;
	padding: 0.7em 1.5em 0.15em 1.5em;
}

li:nth-child(2) {
	background-color: #81DAF5;
}

li:nth-child(3) {
	background-color: #B40404;
}

li:nth-child(4) {
	background-color: #A4A4A4;
}

li:hover {
	width: 6em;
	background-color: black; 
	padding-left: 6em;
}

.icon-facebook, .icon-twitter, .icon-pinterest, .icon-mail {
	color: white;
	text-decoration: none;
}