@c_primeros: #88A825;
@c_segundos: #CF4A30;
@c_postres: #911146;
@c_resto: #868585;
@c_fondo: #eee;
@c_texto: #cfcfcf;

@verde: #88A825;
@morado: #35203B;
@rosa: #911146;
@naranja: #CF4A30;
@amarillo: #ED8C2B;
@gris: #cfcfcf;
@background: #eeeeee;
@p: #cfcfcf;

body {
	background-color: @background;
}

.bg-verde 		{ background-color: @verde !important; }
.bg-morado 		{ background-color: @morado !important; }
.bg-rosa 		{ background-color: @rosa !important; }
.bg-naranja 	{ background-color: @naranja !important; }
.bg-amarillo 	{ background-color: @amarillo !important; }
.bg-gris 		{ background-color: @gris !important; }
.bg-blanco 		{ background-color: white !important; }

.c-verde 		{ color: @verde !important; }
.c-morado 		{ color: @morado !important; }
.c-rosa 		{ color: @rosa !important; }
.c-naranja 		{ color: @naranja !important; }
.c-amarillo 	{ color: @amarillo !important; }
.c-gris 		{ color: @gris !important; }
.c-blanco 		{ color: white !important; }

.h-bg-verde:hover 		{ .bg-verde; }
.h-bg-morado:hover 		{ .bg-morado; }
.h-bg-rosa:hover 		{ .bg-rosa; }
.h-bg-naranja:hover 	{ .bg-naranja; }
.h-bg-amarillo:hover 	{ .bg-amarillo; }
.h-bg-gris:hover 		{ .bg-gris; }
.h-bg-blanco:hover		{ .bg-blanco; }

.h-c-verde:hover 		{ .c-verde; }
.h-c-morado:hover 		{ .c-morado; }
.h-c-rosa:hover 		{ .c-rosa; }
.h-c-naranja:hover 		{ .c-naranja; }
.h-c-amarillo:hover 	{ .c-amarillo; }
.h-c-gris:hover 		{ .c-gris; }
.h-c-blanco:hover		{ .c-blanco; }
