* {
  margin: 0;
  padding: 0;
}
li {
  margin-left: 1.3em;
}
main > section > article {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  margin: 0.5em 0;
}
main > section > article > h3 {
  font-size: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
body {
  background-color: #eeeeee;
}
.bg-verde {
  background-color: #88A825;
}
.bg-morado {
  background-color: #35203B;
}
.bg-rosa {
  background-color: #911146;
}
.bg-naranja {
  background-color: #CF4A30;
}
.bg-amarillo {
  background-color: #ED8C2B;
}
.bg-gris {
  background-color: #cfcfcf;
}
.bg-blanco {
  background-color: white;
}
.c-verde {
  color: #88A825 !important;
}
.c-morado {
  color: #35203B !important;
}
.c-rosa {
  color: #911146 !important;
}
.c-naranja {
  color: #CF4A30 !important;
}
.c-amarillo {
  color: #ED8C2B !important;
}
.c-gris {
  color: #cfcfcf !important;
}
.c-blanco {
  color: white !important;
}
.h-bg-verde:hover {
  background-color: #88A825;
}
.h-bg-morado:hover {
  background-color: #35203B;
}
.h-bg-rosa:hover {
  background-color: #911146;
}
.h-bg-naranja:hover {
  background-color: #CF4A30;
}
.h-bg-amarillo:hover {
  background-color: #ED8C2B;
}
.h-bg-gris:hover {
  background-color: #cfcfcf;
}
.h-bg-blanco:hover {
  background-color: white;
}
.h-c-verde:hover {
  color: #88A825 !important;
}
.h-c-morado:hover {
  color: #35203B !important;
}
.h-c-rosa:hover {
  color: #911146 !important;
}
.h-c-naranja:hover {
  color: #CF4A30 !important;
}
.h-c-amarillo:hover {
  color: #ED8C2B !important;
}
.h-c-gris:hover {
  color: #cfcfcf !important;
}
.h-c-blanco:hover {
  color: white !important;
}
.botones {
  text-align: center;
}
.botones a {
  text-transform: uppercase;
  color: white;
  font-size: 1em;
}
#btn_primeros {
  background-color: #88A825;
}
#btn_segundos {
  background-color: #CF4A30;
}
#btn_postres {
  background-color: #911146;
}
#btn_contacto {
  background-color: #868585;
}
#btn_pautas {
  background-color: #868585;
}
