ul {
	display: inline;
	margin: 0;
	width: 25%;
		//background-color: lighten(grey, 30%);
	background: #eeeeee;
	padding: 0.5em 0.5em 0.5em 2em;
}
li {
	display: inline-block;
	padding-left: 2em;
	background-image: url(arrow-sprite.gif);

	background-position: 0 -158px;
	background-repeat: no-repeat;
	position: relative;
}
ul li:hover{
	background-position: 0 0;

}
ul li ul {
	margin: 0;
	padding: 0;
	display: none;
	width: 7em;

}
ul li ul li { 

	display: block; 
	background-position: 0 -80px;
	background-color:#eeeeee;
	margin: 0.5em 0;
	padding-bottom: 0.3em;
}

ul li:hover ul {
	display: block;
	position: absolute;
}



