h1 {
	text-align: right;
}
div {
	width: 6.25em;
	height: 6.25em;
	background-color: red;
	position: absolute;
	left: 1.25em;
}
div:nth-of-type(1) {
	top: 1.25em;
	transition: background-color 2s;
}
div:nth-of-type(2) {
	top: 9em;
	transition: transform 2s;
}
div:nth-of-type(3) {
	top: 16.25em;
	transition: background-color 2s, transform 2s;
}
div:nth-of-type(4) {
	top: 23em;
	transition: padding 2s, background-color 2s, text-align 2s;
}

div:nth-of-type(1):hover {
	background-color: yellow;
}

div:nth-of-type(2):hover {
	transform: translate(2em);
}

div:nth-of-type(3):hover {
	transform: translate(4em) scale(1.5);
	background-color: yellow;
}

div:nth-of-type(4):hover {
	background-color: #a7e4df;
	padding: 3em;
	text-align: center;
}